:root{
    --color-base:#333333;
    --color-hover:#FF566E;
}

h1{
    text-align: center;
    font-size: 6vw;
}

p{
    width: 80%;
    text-align: center;
    margin: 1vh auto;
    font-size: 0.7rem;
}

.js_tab_scroll_find{
    color:#FF566E;
}

.tab_description_inner_text{  
    width: 80%;
    text-align: left;
    margin: 1vh 0;
    font-size: 0.7rem;
    list-style-type:square;
    list-style-position: inside;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;      
    margin: 0 auto;
    width:80vw; 
}

section img :first-child{
    width:80%;
}

.button_ribbon_download_app{
    display: flex;
    width:auto;
    margin: 2vh auto;
}

.button_ribbon_download_app a, .lonely_button_link{
    height: 3vh;
    font-size: 0.6rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    width:fit-content;
    background: var(--color-hover);
}

.button_ribbon_download_app img{
    height: 2vh;
    background: var(--color-hover);
    margin-right: 1vw;
}

.button_ribbon_download_app a:link, .lonely_button_link:link{
    border: 2px solid var(--color-hover);
    color: white;
    border-radius: 25px;
    padding: 5px 3vw;
    margin-right:2vw;
    margin-left:0;
}

.button_ribbon_download_app a:visited, .lonely_button_link:visited{
    color:white;
    background: var(--color-hover);
}

.button_ribbon_download_app a:hover, .lonely_button_link:hover, #dropdown>li:last-child :hover{    
    box-shadow: 0px 0px 5px 2px violet;
}

.main_section_image{
    width: 80vw;
    margin: 6vh auto;
    z-index: 2;
}

@keyframes meneillo {
    from{
        transform: rotate(5deg);
    }
    
    to{
        transform: rotate(0deg);
    }
}

.main_section_image:hover{
    animation-name: meneillo;
    animation-duration: 0.25s;
    animation-iteration-count: 4;
    animation-play-state: running;
    animation-direction:alternate-reverse;    
}


#tab_description{
    display: flex;
    flex-direction: row;
    margin: 12vh auto;
}

#tab_description img{
    display:flex;
    padding: 0 2vw;
    flex-grow: 1;
    width: 40%;
    align-self: flex-start;
}

#tab_description article{
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0 0 3vh 3vw;    
    flex-grow: 1;
}

.circles_area a img:hover{
    animation-name: meneillo;
    animation-duration: 0.25s;
    animation-iteration-count: 4;
    animation-play-state: running;
    animation-direction:alternate-reverse;
}







