:root{
    --color-base:#333333;
    --color-hover:#FF566E;
    --color-fondo: #F7FAFD;
}

nav img{
    height: 4vh;
}

nav li img{
    height: 5px;
    margin: 0 0.5vw;
}

nav ul{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.nav_option{
    list-style-type: none;
    padding: 5px 1vw;    
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color:var(--color-base);
}

.nav_option a:hover{
    color:var(--color-hover);
}

nav .nav_option:last-child a{
    border: 2px solid var(--color-hover);
    color:var(--color-hover);
    border-radius: 25px;
    padding: 5px 3vw;
    margin-left: 2vw;  
    font-weight: bolder;  
}

nav ul :nth-child(4):hover{
    color:var(--color-hover);
}

.dropdown :nth-child(4):hover .dropdown_menu{
    display: block;
    background-color: var(--color-fondo);      
}
  
.dropdown_menu {
    display: none;
    position: absolute;    
    padding: 0;
    top: 2vh;
    width: fit-content;
    height:fit-content;
    line-break: normal;
    box-shadow: 0px 5px 5px 2px #b9b7b73f;  
        
}

.dropdown_menu a:link{
    color:var(--color-base);
}

.dropdown_menu a:visited{
    color:var(--color-base);
}

.nav_subm_option{
    list-style-type: none;
    padding: 0.75rem 1.5rem;   
}

hr {
    border: none; 
    border-top: 1px solid #b9b7b73f 
  }
