#tab_features {
  width: 100vw;
  background-color: #E5EDF5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#tab_features img {
  display: flex;
  padding: 0 2vw 0 0;
  width: 40%;
  align-self: flex-start;
  margin-top: 5vh;
}
#tab_features article {
  display: flex;
  flex-direction: column;
  padding: 3vh 0 0 3vw;
  justify-content: left;
  align-self: start;
  margin: 2vh 3vw;
  font-size: 0.7rem;
}
#tab_features article div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  gap: 2vw;
  margin: 3vh 0;
}
#tab_features article div a:hover {
  background: #8F5CE3;
  color: #E5EDF5;
}
#tab_features article div a {
  display: flex;
  flex-direction: row;
  background: white;
  font-weight: bold;
  padding: 1vh 2vw;
}
#tab_features article div a img {
  display: block;
  height: 2vh;
  object-fit: contain;
  align-self: baseline;
  padding: 0 1vw 0 0;
  margin-top: 0;
}
#tab_features article p {
  text-align: left;
  margin: 0;
}
#tab_features article ul {
  list-style-image: url(/Public/images/list_bullet.png);
  width: 80%;
  list-style-position: inside;
}

#tab_user_testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}
#tab_user_testimonials h2 {
  grid-column: span 3;
  text-align: center;
}
#tab_user_testimonials article {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 7vh 0 10vh 0;
}
#tab_user_testimonials article .tab_users_ratings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#tab_user_testimonials article .tab_users_ratings img {
  height: 3vh;
}
#tab_user_testimonials article hr {
  width: 50%;
  margin: 0 auto;
}
#tab_user_testimonials article p:last-child {
  font-weight: bold;
}
#tab_user_testimonials .tab_users_partners {
  background-color: white;
  display: flex;
  flex-direction: row;
  gap: 2vh;
  column-gap: 3vw;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: span 3;
}
#tab_user_testimonials .tab_users_partners img {
  margin: 0;
}

#tab_users_ratings_wrapup {
  width: 100vw;
  background: #E5EDF5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10vh 0;
  z-index: 3;
}
#tab_users_ratings_wrapup a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  font-weight: normal;
}
#tab_users_ratings_wrapup a span {
  font-size: 2.5rem;
  font-weight: bold;
  line-break: anywhere;
}
#tab_users_ratings_wrapup a img {
  background: none;
}

footer {
  margin: 0 auto;
  width: 90vw;
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 2vw;
}
footer section ul {
  /*width: 30vw;*/
  list-style-position: inside;
  font-size: 0.6rem;
  list-style-type: none;
}
footer section ul li {
  display: flex;
  align-items: center;
  margin: 1vh 0;
  line-break: anywhere;
}
footer section ul li img {
  height: 2vh;
  width: 2vw;
  object-fit: contain;
  justify-self: center;
  margin-right: 1vw;
}
footer section #social_networks {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}
footer section #social_networks a img {
  margin-top: 0;
  height: 3vh;
}
footer h6 {
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=style_sass.css.map */
