#dec_green_diamond{
    position: fixed;
    top: 20vh;
    height: 2vh;
    left: 5vw;
    z-index: 2;
    background-color: transparent;
}

#dec_blue_circle{
    position: fixed;
    top: 55vh;
    height: 5vh;
    left: 9vw;
    z-index: 2;
    background-color: transparent;
}

#dec_white_circle{
    position: fixed;
    top: 50vh;
    width: 30vw;
    left: -15vw;
    z-index: 1;
    background-color: transparent;
}

#dec_white_circle_2{
    position: fixed;
    top: 30vh;
    width: 30vw;
    right: -15vw;
    z-index: 1;
    background-color: transparent;
}

#dec_yellow_circle{
    position: fixed;
    top: 20vh;
    height: 2vh;
    right: 10vw;
    z-index: 2;
    background-color: transparent;
}